<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body style="text-align: center">
    <h1>Weather App</h1>
    <p>Enter a city below and see how's the weather there!</p>
    <div>
        <form action="/request" method="get">
            <input name="city">
            <button>Check weather!</button>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <ol>{{ message }}</ol>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>